
        body{
            background-color:white;
        }
        h1{
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: red;
        }
        .lead{
            font-family: 'Amatic SC', cursive;
            color:white;
            font-size: 30px;
            text-align: center;
        }
        .container{
            max-width: 60%;
            background-color:black;
        }
        .card-text{
            font-family: 'Gloria Hallelujah';
        }
        img{
            max-height: 50%;
        }
        .card{
            margin-top: 5%;
        }
        .col{
            padding:5%;
        }
        .audio{
            position: relative;
            margin-bottom: 5%;
            margin-left:10%;
        }
        #buttons{
            font-family: Georgia, 'Times New Roman', Times, serif;

        }
        #hint{
            text-align: center;
        }
        
        #my-word {
            margin: 0;
            display: block;
            padding: 0;
            display:block;
            position: relative;
            }
       
        #alphabet li {
            float:left;
            margin: 0 10px 10px 0;
            list-style:none;
            width:35px;
            height:30px;
            padding-top:10px;
            background:$white;
            color:$base-color;
            cursor:pointer;
            @include corners(5px);
            border: solid 1px $white;
                
                &:hover{
                background:$base-color;
                border: solid 1px $white;
                color:$white;
                }
            }

        #my-word {
            margin: 0;
            display: block;
            padding: 0;
            display:block;
            }

        #my-word li {
            position: relative;
            list-style: none;
            margin: 0;
            display: inline-block;
            padding: 0 10px;
            font-size:1.6em;
            }

        #mylives{
            font-size:1.6em;
            text-align:center;
            display:block;
            font-family: 'Gloria Hallelujah', cursive;
            }
        #reset{
            margin-top:2%;
            margin-left:60%;
            background-color: yellow;
        }

        
 
                
